--- 
import Layout from '@/layouts/Layout.astro';
import HeroContainer from '@/components/HeroContainer.astro';
import Button from "@/components/Button.astro";
import Numeros from '@/components/Numeros.astro';
import Galeria from '@/components/Galeria.astro';

import { getI18n } from '@/i18n';
const { currentLocale } = Astro;
const i18n = getI18n({currentLocale})

---

<Layout 
	title="archivo"
	description="archivo"
>
    <HeroContainer
		img="/archivo-background.webp"
	>
		<h1 class="text-6xl mb-20 font-tomaso tracking-widest">EDICIONES ANTERIORES</h1>
		<Button class="animate-fade-up" url="https://www.youtube.com/watch?v=1YmpPrqKP-g">REVIVE LA ÚLTIMA GALA</Button>
	</HeroContainer>
	<main>
		<Numeros />
		<Galeria
	</main>
</Layout>