---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/Bento.astro';
import Prefooter from '../components/Prefooter.astro';
import Footer from '../components/Footer.astro';

---

<Layout 
	title="Esland Clone"
	description="Clon de la web de los premios Esland para aprender Astro y Tailwind"
>
	<Video />
	<main>
		<Intro />
		<Bento />
		<Prefooter />
	</main>
	<Footer />		
</Layout>

<style>
	
</style>
