---
  import Logo from "@/components/Logo.astro"
  import Button from "@/components/Button.astro";

  import { getI18n } from '@/i18n';
  const { currentLocale } = Astro;
  const i18n = getI18n({currentLocale})
---

<header id="header-nav" class="fixed w-screen z-50 top-0 px-8 lg:px-0">
    <div class="grid [grid-template-columns:40px_repeat(2,1fr)] sm:grid-cols-3 max-w-7xl mx-auto p-1 items-center justify-between">
        <a href="/" class="col-span-1">
            <Logo class="w-10 h-auto"/>
        </a>
    
        <nav class="col-span-1 w-full flex gap-2 justify-end md:justify-center">
            <a class="hover:underline" href="#">{i18n.HEADER_INFO}</a>
            <a class="hover:underline" href="#">{i18n.HEADER_ARCHIVO}</a>
        </nav>

        <Button class="justify-self-end lg:text-base" url="https://www.youtube.com/watch?v=O43x26hiolw">{i18n.HEADER_DOCUMENTAL}</Button>

    </div>
</header>